a{text-decoration:none; cursor: auto;}
.main-timeline .title-web:after {
    background-color: #ec496e;
}

.main-timeline .title-program:after{
    background-color: #f9850f;
}

.main-timeline .title-backend:after{
    background-color: #8fb800;
}

.main-timeline .title-other:after{
    background-color: #2fcea5;
}


.main-timeline{position:relative;}
.main-timeline:before{content:"";width:5px;height:100%;border-radius:20px;margin:0 auto;background:grey;position:absolute;top:0;left:0;right:0}
.main-timeline .timeline{display:inline-block;margin-bottom:50px;position:relative}
.main-timeline .timeline:before{content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:#ec496e;position:absolute;top:21%;left:50%;z-index:1;transform:translate(-50%,-50%)}
.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid #ec496e;padding:13px;text-align:center;position:absolute;top:21%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:#ec496e;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:#ec496e;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background: #100f17;top:89px;right:-30px;}
.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid #ec496e;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:#ec496e;position:absolute;top:13px;left:0}
.main-timeline .title{font-size:20px;font-weight:600;color:#ec496e;text-transform:uppercase;margin:0 0 5px}
.main-timeline .skill-description{display:inline-block;font-size:16px;color:white;line-height:20px;letter-spacing:1px;margin:0; text-transform: initial;}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:#f9850f}
.main-timeline .timeline:nth-child(2n) .title{color:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:#f9850f;border-bottom-color:#f9850f}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:#8fb800}
.main-timeline .timeline:nth-child(3n) .title{color:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:#8fb800;border-bottom-color:#8fb800}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .title{color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:#2fcea5;border-bottom-color:#2fcea5}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}














.anim-typewriter{
    white-space: nowrap;
    text-transform: initial;
    color: white;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typewriter 10s steps(80) 1s 1 normal both,
                blinkCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }

    to{
        border-right-color: transparent;
    }
}

.main-container{
    border-radius: 20px;
    width: 70%;
    margin: 0 15px;
    position: relative;
    height: 270px;
}

.skillcard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 30px;
    background-color: #212121;
}

.skill-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.web-development{
    margin-bottom: 20px;
}

.programming-language{
    margin-bottom: 20px;
}

.database{
    margin-bottom: 20px;
}

.other{
    margin-bottom: 20px;
}

.skill-features span{
    font-size: 48px;
    color: #0cb99f;
    border-radius: 50%;
    margin-bottom: 20px;
}

.skill-img{
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.skill-header{
    color: #0cb99f;
    letter-spacing: 1px;
    font-family: 'Catamaran', sans-serif;
}

.skill-item img{
    width: 30px;
    height: 30px;
}

.skill-item p{
    color: white;
    padding-top: 7px;
}

h2{
    margin-bottom: 5px;
}

#html-text{
    color: orangered;
    font-family: 'Titillium Web', sans-serif;
}

#html-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid orangered;
    box-shadow: 0 0 10px orangered;
    border-radius: 20pt;
}

#html-finished-bar{
    width: 90%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(248,49,14),rgb(150,16,16));
    border-radius: 20pt;
    animation: html 7s;
}

@keyframes html{
    0%{
        width: 0%;
    }

    100%{
        width: 90%;
    }
}

#css-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid teal;
    box-shadow: 0 0 10px teal;
    border-radius: 20pt;
}

#css-finished-bar{
    width: 95%;
    height: 3px;
    background-image: linear-gradient(to right, teal,#8f9cff);
    border-radius: 20pt;
    animation: css 7s;
}

@keyframes css{
    0%{
        width: 0%;
    }

    100%{
        width: 95%;
    }
}

#css-text{
    color: teal;
    font-family: 'Titillium Web', sans-serif;
}

#js-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid yellow;
    box-shadow: 0 0 10px yellow;
    border-radius: 20pt;
}

#js-finished-bar{
    width: 50%;
    height: 3px;
    background-image: linear-gradient(to right, yellow,#e8ff52);
    border-radius: 20pt;
    animation: js 7s;
}

@keyframes js{
    0%{
        width: 0%;
    }

    100%{
        width: 50%;
    }
}

#js-text{
    color: yellow;
    font-family: 'Titillium Web', sans-serif;
}

#jquery-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 20pt;
}

#jquery-finished-bar{
    width: 40%;
    height: 3px;
    background: white;
    border-radius: 20pt;
    animation: jquery 7s;
}

@keyframes jquery{
    0%{
        width: 0%;
    }

    100%{
        width: 40%;
    }
}

#jquery-text{
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

#bootstrap-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #673ab7;
    box-shadow: 0 0 10px #673ab7;
    border-radius: 20pt;
}

#bootstrap-finished-bar{
    width: 85%;
    height: 3px;
    background: #673ab7;
    border-radius: 20pt;
    animation: bootstrap 7s;
}

@keyframes bootstrap{
    0%{
        width: 0%;
    }

    100%{
        width: 85%;
    }
}

#bootstrap-text{
    color: #673ab7;
    font-family: 'Titillium Web', sans-serif;
}

#java-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #165eaf;
    box-shadow: 0 0 10px #165eaf;
    border-radius: 20pt;
}

#java-finished-bar{
    width: 70%;
    height: 3px;
    background: #165eaf;
    border-radius: 20pt;
    animation: java 7s;
}

@keyframes java{
    0%{
        width: 0%;
    }

    100%{
        width: 70%;
    }
}

#java-text{
    color: #165eaf;
    font-family: 'Titillium Web', sans-serif;
}

#cpp-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #1590d8;
    box-shadow: 0 0 10px #1590d8;
    border-radius: 20pt;
}

#cpp-finished-bar{
    width: 60%;
    height: 3px;
    background: #1590d8;
    border-radius: 20pt;
    animation: cpp 7s;
}

@keyframes cpp{
    0%{
        width: 0%;
    }

    100%{
        width: 60%;
    }
}

#cpp-text{
    color: #1590d8;
    font-family: 'Titillium Web', sans-serif;
}

#python-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid yellow;
    box-shadow: 0 0 10px yellow;
    border-radius: 20pt;
}

#python-finished-bar{
    width: 50%;
    height: 3px;
    background: yellow;
    border-radius: 20pt;
    animation: python 7s;
}

@keyframes python{
    0%{
        width: 0%;
    }

    100%{
        width: 50%;
    }
}

#python-text{
    color: yellow;
    font-family: 'Titillium Web', sans-serif;
}

#c_sharp-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #69f0ae;
    box-shadow: 0 0 10px #69f0ae;
    border-radius: 20pt;
}

#c_sharp-finished-bar{
    width: 30%;
    height: 3px;
    background: #69f0ae;
    border-radius: 20pt;
    animation: csharp 7s;
}

@keyframes csharp{
    0%{
        width: 0%;
    }

    100%{
        width: 30%;
    }
}

#c_sharp-text{
    color: #69f0ae;
    font-family: 'Titillium Web', sans-serif;
}

#matlab-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #1b6dff;
    box-shadow: 0 0 10px #1b6dff;
    border-radius: 20pt;
}

#matlab-finished-bar{
    width: 5%;
    height: 3px;
    background: #1b6dff;
    border-radius: 20pt;
    animation: matlab 7s;
}

@keyframes matlab{
    0%{
        width: 0%;
    }

    100%{
        width: 5%;
    }
}

#matlab-text{
    color: #1b6dff;
    font-family: 'Titillium Web', sans-serif;
}



#php-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #7377ad;
    box-shadow: 0 0 10px #7377ad;
    border-radius: 20pt;
}

#php-finished-bar{
    width: 70%;
    height: 3px;
    background: #7377ad;
    border-radius: 20pt;
    animation: php 7s;
}

@keyframes php{
    0%{
        width: 0%;
    }

    100%{
        width: 70%;
    }
}

#php-text{
    color: #7377ad;
    font-family: 'Titillium Web', sans-serif;
}

#sql-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 20pt;
}

#sql-finished-bar{
    width: 95%;
    height: 3px;
    background: white;
    border-radius: 20pt;
    animation: sql 7s;
}

@keyframes sql{
    0%{
        width: 0%;
    }

    100%{
        width: 95%;
    }
}

#sql-text{
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

#mongoDB-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #469848;
    box-shadow: 0 0 10px #469848;
    border-radius: 20pt;
}

#mongoDB-finished-bar{
    width: 10%;
    height: 3px;
    background: #469848;
    border-radius: 20pt;
    animation: mongo 7s;
}

@keyframes mongo{
    0%{
        width: 0%;
    }

    100%{
        width: 10%;
    }
}

#mongoDB-text{
    color: #469848;
    font-family: 'Titillium Web', sans-serif;
}

#node-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #2e7d32;
    box-shadow: 0 0 10px #2e7d32;
    border-radius: 20pt;
}

#node-finished-bar{
    width: 5%;
    height: 3px;
    background: #2e7d32;
    border-radius: 20pt;
    animation: node 7s;
}

@keyframes node{
    0%{
        width: 0%;
    }

    100%{
        width: 5%;
    }
}

#node-text{
    color: #2e7d32;
    font-family: 'Titillium Web', sans-serif;
}

#ruby-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #e53935;
    box-shadow: 0 0 10px #e53935;
    border-radius: 20pt;
}

#ruby-finished-bar{
    width: 5%;
    height: 3px;
    background: #e53935;
    border-radius: 20pt;
    animation: ruby 7s;
}

@keyframes ruby{
    0%{
        width: 0%;
    }

    100%{
        width: 5%;
    }
}

#ruby-text{
    color: #e53935;
    font-family: 'Titillium Web', sans-serif;
}

#datascience-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #476d71;
    box-shadow: 0 0 10px #476d71;
    border-radius: 20pt;
}

#datascience-finished-bar{
    width: 60%;
    height: 3px;
    background: #476d71;
    border-radius: 20pt;
    animation: data 7s;
}

@keyframes data{
    0%{
        width: 0%;
    }

    100%{
        width: 60%;
    }
}

#datascience-text{
    color: #476d71;
    font-family: 'Titillium Web', sans-serif;
}

#git-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 20pt;
}

#git-finished-bar{
    width: 30%;
    height: 3px;
    background: white;
    border-radius: 20pt;
    animation: git 7s;
}

@keyframes jquery{
    0%{
        width: 0%;
    }

    100%{
        width: 30%;
    }
}

#git-text{
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

#AI-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #c3dcee;
    box-shadow: 0 0 10px #c3dcee;
    border-radius: 20pt;
}

#AI-finished-bar{
    width: 40%;
    height: 3px;
    background: #c3dcee;
    border-radius: 20pt;
    animation: AI 7s;
}

@keyframes AI{
    0%{
        width: 0%;
    }

    100%{
        width: 40%;
    }
}

#AI-text{
    color: #c3dcee;
    font-family: 'Titillium Web', sans-serif;
}

#photoshop-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #039adf;
    box-shadow: 0 0 10px #039adf;
    border-radius: 20pt;
}

#photoshop-finished-bar{
    width: 80%;
    height: 3px;
    background: #039adf;
    border-radius: 20pt;
    animation: photoshop 7s;
}

@keyframes photoshop{
    0%{
        width: 0%;
    }

    100%{
        width: 80%;
    }
}

#photoshop-text{
    color: #039adf;
    font-family: 'Titillium Web', sans-serif;
}

#ae-bar{
    width: 80%;
    height: 5px;
    background-color: transparent;
    border: 1px solid #b187fd;
    box-shadow: 0 0 10px #b187fd;
    border-radius: 20pt;
}

#ae-finished-bar{
    width: 40%;
    height: 3px;
    background: #b187fd;
    border-radius: 20pt;
    animation: ae 7s;
}

@keyframes ae{
    0%{
        width: 0%;
    }

    100%{
        width: 40%;
    }
}

#ae-text{
    color: #b187fd;
    font-family: 'Titillium Web', sans-serif;
}

/* .skill-section:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff,#ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-background-size: 400%;
    background-size: 400%;
    filter: blur(5px);
    border-radius: 20px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: rainbow 20s linear infinite;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.skill-section:hover:before{
    opacity: 1;
} */

/* .skill-section:hover{
    cursor: pointer;
} */

.skill-section:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
}

@media (min-width: 960px){
    .skill-content{
        flex-direction: row;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    .skill-section{
        border: none;
    }
}

@media (max-width: 1183px) {
    .anim-typewriter{
        display: none;
    }

    .skill-content{
        margin-top: 30px;
    }
}

@media (max-width: 1150px){
    .skill-header{
        font-size: 13px;
    }
}

@media (max-width: 960px) {
    .web-development img{
        border-radius: 20px;
    }
    
    .programming-language img{
        border-radius: 20px;
    }
    
    .database img{
        border-radius: 20px;
    }
    
    .other img{
        border-radius: 20px;
    }

    h1{
        margin-bottom: 20px;
    }

    .anim-typewriter{
        display: none;
    }
}

@media (max-width: 410px){
    .skill-item p{
        font-size: 13px;
    }

    #html-bar{
        width: 100%;
    }
    #css-bar{
        width: 100%;
    }
    #js-bar{
        width: 100%;
    }
    #jquery-bar{
        width: 100%;
    }
    #bootstrap-bar{
        width: 100%;
    }
    #java-bar{
        width: 100%;
    }
    #cpp-bar{
        width: 100%;
    }
    #python-bar{
        width: 100%;
    }
    #c_sharp-bar{
        width: 100%;
    }
    #php-bar{
        width: 100%;
    }
    #sql-bar{
        width: 100%;
    }
    #mongoDB-bar{
        width: 100%;
    }
    #angular-bar{
        width: 100%;
    }
    #react-bar{
        width: 100%;
    }
    #photoshop-bar{
        width: 100%;
    }
    #datascience-bar{
        width: 100%;
    }
    #git-bar{
        width: 100%;
    }
    #photoshop-bar{
        width: 100%;
    }
    #AI-bar{
        width: 100%;
    }
    #ae-bar{
        width: 100%;
    }

    .skill-header{
        font-size: 7px;
    }

    .skill-features span{
        font-size: 30px;
    }

    .pl-5{
        padding-right: 50px;
    }
}

@media (max-width: 342px){
    .skill-item p{
        font-size: 10px;
        padding-top: 10px; 
    }
}

@media (max-width: 321px){
    .skill-item p{
        font-size: 7px;
    }
}