#about-main{
    text-transform: initial;
}

#about-background{
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.about-content{
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: -70px;
}

.about-page-container{
    padding-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
}

#about-name{
    color: white;
    font-size: 44px;
}

#about-image{
    width: 400px;
    height: 400px;
    border: 7px solid white;
    border-radius: 50%;
    padding: 5px;
}

.bubble{
    font-size: 18px;
    max-width: 150px;
    background: #3d7287;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    transition: 2s ease-out;
}

.bubble:before{
    position: absolute;
    margin-top: 35px;
    margin-left: -90px;
    content: '';
    border: 10px solid transparent;
    border-top-color:#3d7287;
    border-bottom: 0;
}

#about-name{
    font-family: 'Katibeh', cursive;
    font-size: 70px;
}

#about-title{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

#about-email{
    font-family: 'Volkhov', serif;
}

#about-phone{
    font-family: 'Volkhov', serif;
    margin-left: 4px;
}

.social-media{
    max-width: 200px;
    padding-left: 30px;
}

.social-media ul{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.social-media ul li{
    list-style: none;
    position: relative;
    margin: 0 2px;
}

.social-media ul li:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}

.social-media ul li:hover:before{
    transition-delay: .2s;
    opacity: .5;
    transform: scale(1);
}

.social-media ul li a{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    transition: .5s;
    background: transparent;
}

.social-media ul li:hover a {
    transform: translateY(-10px);
}

.social-media ul li a span{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.social-media ul li a span:before{
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    transform-origin: top;
    transition: transform .5s;
}

.social-media ul li:nth-child(1) a span:before{
    color: #0a66c2;
}
.social-media ul li:nth-child(2) a span:before{
    color: #4267b2;
}
.social-media ul li:nth-child(3) a span:before{
    color: #df3177;
}
.social-media ul li:nth-child(4) a span:before{
    color: #00aff0;
}
.social-media ul li:nth-child(5) a span:before{
    color: #dc4737;
}

.social-media ul li:hover a span:before{
    transform: rotateX(90deg) translateY(-50%);
}


.social-media ul li a span::after{
    font-family: fontAwesome;
    text-align: center;
    line-height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    color: white;
    transform-origin: bottom;
    transition: transform .5s;
    transform: rotateX(90deg) translateY(50%);
}

.social-media ul li:hover a span::after{
    transform: rotateX(0deg) translateY(0);
}

.social-media ul li:nth-child(1) a span:before,
.social-media ul li:nth-child(1) a span::after{
    content: '\f0e1';
}

.social-media ul li:nth-child(2) a span:before,
.social-media ul li:nth-child(2) a span::after{
    content: '\f09a';
}


.social-media ul li:nth-child(3) a span:before,
.social-media ul li:nth-child(3) a span::after{
    content: '\f16d';
}


.social-media ul li:nth-child(4) a span:before,
.social-media ul li:nth-child(4) a span::after{
    content: '\f17e';
}

.social-media ul li:nth-child(5) a span:before,
.social-media ul li:nth-child(5) a span::after{
    content: '\f0d2';
}

.social-media ul li:nth-child(1) a span:after{
    background: #0a66c2;
    box-shadow: 0 0 10px #0a66c2, 0 0 40px #0a66c2, 0 0 80px #0a66c2;
}
.social-media ul li:nth-child(2) a span:after{
    background: #4267b2;
    box-shadow: 0 0 10px #4267b2, 0 0 40px #4267b2, 0 0 80px #4267b2;
}
.social-media ul li:nth-child(3) a span:after{
    background: #df3177;
    box-shadow: 0 0 10px #df3177, 0 0 40px #df3177, 0 0 80px #df3177;
}
.social-media ul li:nth-child(4) a span:after{
    background: #00aff0;
    box-shadow: 0 0 10px #00aff0, 0 0 40px #00aff0, 0 0 80px #00aff0;
}
.social-media ul li:nth-child(5) a span:after{
    background: #c8232c;
    box-shadow: 0 0 10px #c8232c, 0 0 40px #c8232c, 0 0 80px #c8232c;
}

@media (min-width: 960px){
    .about-page-container{
        flex-direction: row;
    }
}

@media (max-width: 960px){
    #about-name{
        font-size: 50px;
    }

    #about-background{
        height: 850px;
    }

    .about-content{
        top: 15%;
    }

    .about-img{
        margin-bottom: 30px;

    }
}

@media (max-width: 490px){
    #about-image{
        width: 200px;
        height: 200px;
    }

    .about-img{
        margin-left: 40px;
    }

    .about-info{
        padding-left: 50px;
    }

    .bubble{
        font-size: 15px;
    }

    #about-name{
        font-size: 40px;
    }

    #about-title{
        font-size: 15px;
    }

    #about-email, #about-phone, #about-address{
        font-size: 10px;
    }

    #about-background{
        height: 550px;
    }
}

@media (max-width: 340px){
    #about-image{
        width: 150px;
        height: 150px;
    }

    #about-background{
        height: 500px;
    }
}




