.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Goldman', cursive;
}

.contact-container{
    width: 80%;
    margin-top: -30px;
    padding: 20px;
}

.contact-container .row{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    margin-right: -30px;
}

.contact-container .row .col{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: .5s; 
}

.contact-container .row .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #0cb99f;
    text-transform: initial;
}

.contact-container .row .textarea{
    position: relative;
    width: 100%;
    height: 80px;
    color: #0cb99f;
    text-transform: initial;
}

.contact-container .row .inputBox input,
.contact-container .row .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.contact-container .row .inputBox .contact-text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
}

.contact-container .row .inputBox input:focus + .contact-text,
.contact-container .row .inputBox input:valid + .contact-text{
    top: -35px;
    left: -10px;
}

.contact-container .row .inputBox .contact-line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0cb99f;
    transition: .5s;
    border-radius: 2px;
    pointer-events: none;
}

.contact-container .row .inputBox input:focus ~ .contact-line,
.contact-container .row .inputBox input:valid ~ .contact-line{
    height: 100%;
}

.contact-container .row .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.contact-container .row .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}

.contact-container .row .inputBox textarea:focus ~ .contact-text,
.contact-container .row .inputBox textarea:valid ~ .contact-text{
    top: -35px;
    left: -10px;
}

.contact-container .row .inputBox textarea:focus ~ .contact-line,
.contact-container .row .inputBox textarea:valid ~ .contact-line{
    height: 100%;
}
  

.contact-container .row .col a{
    padding: 7px 35px;
    cursor: pointer;
    border: 2px solid #0cb99f;
    outline: none;
    background: transparent;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    transition: 0.2s;
    position: relative;
    display: inline-block;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.contact-container .row .col a:hover{
    color: black;
    background: #0cb99f;
    box-shadow: 0 0 10px #0cb99f, 0 0 40px #0cb99f, 0 0 80px #0cb99f;
    transition-delay: 1s;
    border: none;
}

.contact-container .row .col a span{
    position: absolute;
    display: block;
}

.contact-container .row .col a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0cb99f);
}

.contact-container .row .col a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}



.contact-container .row .col a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0cb99f);
}

.contact-container .row .col a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.contact-container .row .col a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0cb99f);
}

.contact-container .row .col a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.contact-container .row .col a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0cb99f);
}

.contact-container .row .col a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@media (max-width: 430px){
    .contact-container .row .inputBox{
        width: 85%;
    }

    .contact-container .row .inputBox .contact-text{
        font-size: 12px;
    }
}