<<<<<<< HEAD
.experience-content{
    display: relative;
    margin-bottom: 250px;
}

.experience-container{
    margin: 30px auto;
    width: 80vw;
}

#firstradio, #secondradio, #thirdradio, #fourthradio, #fifthradio, #sixthradio{
    display: none;
}

.head{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 60px;
    animation: trans .7s linear forwards;
}

ul.navlist{
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

ul.navlist li{
    list-style: none;
    float: left;
    width: calc(100% / 6);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s all ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
}

ul.navlist li:before{
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: .3s all ease;
}

ul.navlist li:hover:before,
ul.navlist li.active:before{
    border: 2px solid white;
    background: #0cb99f;
}

ul.navlist li .inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bolder;
}

ul.navlist li.active, 
ul.navlist li:hover{
    color: #0cb99f;
}

ul.navlist li::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: auto;
    border: 6px solid #212121;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

ul.navlist li:hover::after,
ul.navlist li.active::after{
    background: #0cb99f;
}

.line{
    width: 85%;
    margin: auto;
    background: #eee;
    height: 7px;
    position: absolute;
    left: 7.5%;
    top: 47px;
    z-index: 1;
    border-radius: 50px;
}

.line span{
    content: '';
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, #0cb99f 0%, #085ecf 100%);
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    transition: .8s all ease;
}

.experience-content{
    position: relative;
    display: flex;
    justify-content: center;
    animation: experience .7s linear forwards;
    /* flex-direction: column; */
}

.experience-content section{
    width: 70%;
    margin: auto;
    border-radius: 4px;
    color: #fff;
}

.experience-content section span{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.experience-content section h2{
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.experience-content section p{
    position: relative;
    text-align: center;
    padding: 10px 40px;
    font-weight: bolder;
    font-size: 18px;
    text-transform: initial;
}

.first:checked ~ .experience-content{
    margin-bottom: 0px;
}

.second:checked ~ .experience-content{
    margin-bottom: 150px;
}

.third:checked ~ .experience-content{
    margin-bottom: 150px;
}

.fifth:checked ~ .experience-content{
    margin-bottom: 150px;
}

.sixth:checked ~ .experience-content{
    margin-bottom: 150px;
}


.first:checked ~ .head .navlist li.st1::before,

.second:checked ~ .head .navlist li.st1:before,
.second:checked ~ .head .navlist li.st2:before,

.third:checked ~ .head .navlist li.st1:before,
.third:checked ~ .head .navlist li.st2:before,
.third:checked ~ .head .navlist li.st3:before,

.fourth:checked ~ .head .navlist li.st1:before,
.fourth:checked ~ .head .navlist li.st2:before,
.fourth:checked ~ .head .navlist li.st3:before,
.fourth:checked ~ .head .navlist li.st4:before,

.fifth:checked ~ .head .navlist li.st1:before,
.fifth:checked ~ .head .navlist li.st2:before,
.fifth:checked ~ .head .navlist li.st3:before,
.fifth:checked ~ .head .navlist li.st4:before,
.fifth:checked ~ .head .navlist li.st5:before,

.sixth:checked ~ .head .navlist li.st1:before,
.sixth:checked ~ .head .navlist li.st2:before,
.sixth:checked ~ .head .navlist li.st3:before,
.sixth:checked ~ .head .navlist li.st4:before,
.sixth:checked ~ .head .navlist li.st5:before,
.sixth:checked ~ .head .navlist li.st6:before{
    border: 2px solid #fff;
    background: #0cb99f;
    transition: .3s all ease;
}

.second:checked ~ .head .line span{
    width: 20%;
}

.third:checked ~ .head .line span{
    width: 40%;
}

.fourth:checked ~ .head .line span{
    width: 60%;
}

.fifth:checked ~ .head .line span{
    width: 80%;
}

.sixth:checked ~ .head .line span{
    width: 100%;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section{
    transform: scale(0);
    transform-origin: center bottom;
    transition: .7s all ease;
    position: absolute;
    top: 0;
}

.first:checked ~ .experience-content .first-section,
.second:checked ~ .experience-content .second-section,
.third:checked ~ .experience-content .third-section,
.fourth:checked ~ .experience-content .fourth-section,
.fifth:checked ~ .experience-content .fifth-section,
.sixth:checked ~ .experience-content .sixth-section{
    display: block;
    transform: scale(1);
    transform-origin: bottom; 
}

@keyframes experience{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }

    50%{
        opacity: 0.5;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes trans{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }

    50%{
        opacity: 0.5;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1040px){
    .experience-content section p{
        padding: 0;
    }

    .experience-container{
        width: 100vw;
    }
}

@media (max-width: 830px) {
    ul.navlist li .inner {
        font-size: 10px; 
    }
}

@media (max-width: 720px){
    .experience-content section p{
        font-size: 15px;
    }
}

@media (max-width: 580px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 300px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 300px;
    }
}

@media (max-width: 470px){
    ul.navlist li .inner {
        font-size: 8px; 
    }
}

@media (max-width: 438px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 350px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 350px;
    }
}

@media (max-width: 373px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 380px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 380px;
    }
}

@media (max-width: 330px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 450px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 400px;
    }
}



=======
.experience-content{
    display: relative;
    margin-bottom: 250px;
}

.experience-container{
    margin: 30px auto;
    width: 80vw;
}

#firstradio, #secondradio, #thirdradio, #fourthradio, #fifthradio, #sixthradio{
    display: none;
}

.head{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 60px;
    animation: trans .7s linear forwards;
}

ul.navlist{
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

ul.navlist li{
    list-style: none;
    float: left;
    width: calc(100% / 6);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s all ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
}

ul.navlist li:before{
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: .3s all ease;
}

ul.navlist li:hover:before,
ul.navlist li.active:before{
    border: 2px solid white;
    background: #0cb99f;
}

ul.navlist li .inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bolder;
}

ul.navlist li.active, 
ul.navlist li:hover{
    color: #0cb99f;
}

ul.navlist li::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: auto;
    border: 6px solid #212121;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

ul.navlist li:hover::after,
ul.navlist li.active::after{
    background: #0cb99f;
}

.line{
    width: 85%;
    margin: auto;
    background: #eee;
    height: 7px;
    position: absolute;
    left: 7.5%;
    top: 47px;
    z-index: 1;
    border-radius: 50px;
}

.line span{
    content: '';
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, #0cb99f 0%, #085ecf 100%);
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    transition: .8s all ease;
}

.experience-content{
    position: relative;
    display: flex;
    justify-content: center;
    animation: experience .7s linear forwards;
    /* flex-direction: column; */
}

.experience-content section{
    width: 70%;
    margin: auto;
    border-radius: 4px;
    color: #fff;
}

.experience-content section span{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.experience-content section h2{
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.experience-content section p{
    position: relative;
    text-align: center;
    padding: 10px 40px;
    font-weight: bolder;
    font-size: 18px;
    text-transform: initial;
}

.first:checked ~ .experience-content{
    margin-bottom: 0px;
}

.second:checked ~ .experience-content{
    margin-bottom: 150px;
}

.third:checked ~ .experience-content{
    margin-bottom: 150px;
}

.fifth:checked ~ .experience-content{
    margin-bottom: 150px;
}

.sixth:checked ~ .experience-content{
    margin-bottom: 150px;
}


.first:checked ~ .head .navlist li.st1::before,

.second:checked ~ .head .navlist li.st1:before,
.second:checked ~ .head .navlist li.st2:before,

.third:checked ~ .head .navlist li.st1:before,
.third:checked ~ .head .navlist li.st2:before,
.third:checked ~ .head .navlist li.st3:before,

.fourth:checked ~ .head .navlist li.st1:before,
.fourth:checked ~ .head .navlist li.st2:before,
.fourth:checked ~ .head .navlist li.st3:before,
.fourth:checked ~ .head .navlist li.st4:before,

.fifth:checked ~ .head .navlist li.st1:before,
.fifth:checked ~ .head .navlist li.st2:before,
.fifth:checked ~ .head .navlist li.st3:before,
.fifth:checked ~ .head .navlist li.st4:before,
.fifth:checked ~ .head .navlist li.st5:before,

.sixth:checked ~ .head .navlist li.st1:before,
.sixth:checked ~ .head .navlist li.st2:before,
.sixth:checked ~ .head .navlist li.st3:before,
.sixth:checked ~ .head .navlist li.st4:before,
.sixth:checked ~ .head .navlist li.st5:before,
.sixth:checked ~ .head .navlist li.st6:before{
    border: 2px solid #fff;
    background: #0cb99f;
    transition: .3s all ease;
}

.second:checked ~ .head .line span{
    width: 20%;
}

.third:checked ~ .head .line span{
    width: 40%;
}

.fourth:checked ~ .head .line span{
    width: 60%;
}

.fifth:checked ~ .head .line span{
    width: 80%;
}

.sixth:checked ~ .head .line span{
    width: 100%;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section{
    transform: scale(0);
    transform-origin: center bottom;
    transition: .7s all ease;
    position: absolute;
    top: 0;
}

.first:checked ~ .experience-content .first-section,
.second:checked ~ .experience-content .second-section,
.third:checked ~ .experience-content .third-section,
.fourth:checked ~ .experience-content .fourth-section,
.fifth:checked ~ .experience-content .fifth-section,
.sixth:checked ~ .experience-content .sixth-section{
    display: block;
    transform: scale(1);
    transform-origin: bottom; 
}

@keyframes experience{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }

    50%{
        opacity: 0.5;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes trans{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }

    50%{
        opacity: 0.5;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1040px){
    .experience-content section p{
        padding: 0;
    }

    .experience-container{
        width: 100vw;
    }
}

@media (max-width: 830px) {
    ul.navlist li .inner {
        font-size: 10px; 
    }
}

@media (max-width: 720px){
    .experience-content section p{
        font-size: 15px;
    }
}

@media (max-width: 580px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 300px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 300px;
    }
}

@media (max-width: 470px){
    ul.navlist li .inner {
        font-size: 8px; 
    }
}

@media (max-width: 438px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 350px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 350px;
    }
}

@media (max-width: 373px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 380px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 380px;
    }
}

@media (max-width: 330px){
    .fourth:checked ~ .experience-content{
        margin-bottom: 450px;
    }

    .sixth:checked ~ .experience-content{
        margin-bottom: 400px;
    }
}



>>>>>>> be92435dbe65bb64e45a4fdfc36b9641ec1230fc
