.preloader{
    width: 100vw;
    height: 100vh;
    background: #100f17;
    position: fixed;
    z-index: 100;
    opacity: 0;
    transition: 2s;
    pointer-events: none;
}

.preloader.is-active{
    opacity: 1;
    pointer-events: all;
}

#loader-container{
    width: 200px;
    height: 200px;    
    position: relative;
    box-shadow: 5px 1px 50px 1px deepskyblue;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-div{
    width: calc(100%);
    height: calc(100%);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: preloader 3s linear infinite;
}

@keyframes preloader{
    100%{
        transform: rotate(360deg);
    }
}