#project-main{
    margin-top: 50px;
}

.project-section{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box{
    max-width: 50%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.project-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border: 3px solid #0cb99f;
    color: #0cb99f;
    transform: rotate(45deg);
    transition: .3s linear;
}

.project-icon i{
    line-height: 65px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.project-box:hover .project-icon{
    background: #0cb99f;
    color: #ddd;
}

.project-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Texturina', serif;
}

.project-description{
    font-size: 14px;
    text-transform: initial;
    margin-bottom: 30px;
    font-family: 'Castoro', serif;
    font-weight: bolder;
}

#disappear-text{
    opacity: 0;
}

@media screen and (max-width: 960px){
    .project-box{
        max-width: 45%;
    }
}

@media screen and (max-width: 768px){
    .project-box{
        max-width: 50%;
    }
}

@media screen and (max-width: 468px){
    .project-box{
        max-width: 100%;
    }
}

